
<!--nav-->
<app-nav></app-nav>

<!--slider-->
<app-slider></app-slider>


<!--product-box-->
<app-product-box [product]  ="product"></app-product-box>
<!--Footer-->
<app-footer></app-footer>
  <router-outlet />

<!--@if (showImage){-->
<!--  @for (i of [1,2,3,4,5]; track i){-->
<!--    <img-->
<!--      src=" slider/{{ image }}"-->
<!--      alt="/slider/2026_YZ450FTL.png"-->

<!--      [ngStyle]="{-->
<!--  'height': height +'px',-->
<!--  'width':  width +'px',-->
<!--  'object-fit': 'cover'-->
<!--  }"-->
<!--    >-->
<!--  }-->
<!--}-->

<!--@if (showImage) {-->
<!--  @for ( img of imageList; track img) {-->
<!--    <img-->
<!--      [src]="'slider/' + image"-->
<!--      alt="Bike Image"-->
<!--      [style.height.px]="height"-->
<!--      [style.width.px]="width"-->
<!--      style="object-fit: cover"-->
<!--    />-->
<!--  }-->
<!--}-->

<!--<hr />-->

<!--<input-->
<!--  class="btn_"-->
<!--  type="button"-->
<!--  [disabled]="isDisabled"-->
<!--  value="Change Image"-->
<!--  (click)="changeImage()"-->
<!--/>-->
<!--<input-->
<!--  class="btn_"-->
<!--  type="button"-->
<!--  value="{{ isDisabled ? 'Enable' : 'Disable' }}"-->
<!--  (click)="changeDisable()"-->
<!--/>-->
<!--<input-->
<!--  class="btn_"-->
<!--  type="button"-->
<!--  [disabled]="isDisabled"-->
<!--  value="Add Size"-->
<!--  (click)="addSize()"-->
<!--/>-->
<!--<input-->
<!--  class="btn_"-->
<!--  type="button"-->
<!--  [disabled]="isDisabled"-->
<!--  value="Remove Size"-->
<!--  (click)="removeSize()"-->
<!--/>-->
<!--<input-->
<!--  class="btn_"-->
<!--  type="button"-->
<!--  [disabled]="isDisabled"-->
<!--  value="{{ showImage ? 'Hide Image' : 'Show Image' }}"-->
<!--  (click)="toggleImage()"-->
<!--/>-->

